html {box-sizing:border-box;}
*, *::after, *::before{box-sizing:inherit}

.container {
    width: 1400px;
}

.top {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.singleUser {
    border: 1px solid #CCC;  
    background-color: rgb(238, 238, 238);
    width: 300px;
    margin: auto;
}

.information {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 5px;
}

.pic {
    text-align: center;
    padding: 20px;
}

.userPicture {
    border-radius: 100%;
}

.confirm {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: white;
    text-decoration: none;
}

#notGoing {
    background-color: red;
    outline: none;
    height: 30px;
    width: 40px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

#going {
    background-color: green;
    outline: none;
    height: 30px;
    width: 40px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
